@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

:root {
  /* Width keeps the img resolution */
  --logo-width: calc(200vh / 3);
  --custom-white: rgb(250, 249, 255);
}

::selection {
  color: var(--custom-white);
  background-color: #290836;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--custom-white);
}

.logo-section {
  background: url(../img/background.jpg);
  background-size: cover;
  width: min(var(--logo-width), 46vw);
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.logo-section div {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 33px 0;
  gap: 0;

  color: rgb(8, 8, 31);
  background-color: rgba(18, 8, 54, 0.356);
}
.logo-section h1 {
  /* Different font for the logo */
  font-family: 'Fascinate Inline', cursive;
  align-self: center;
  font-size: 3.6rem;
  margin: 0;
}


.form-section {
  box-sizing: border-box;
  position: relative;
  /*
    The form's width is equal to the viewport - the logo-section width, so the form is always taking up the space left.

    The left "margin" of the form is equal to the logo-section width, so they are always parallel.
  */
  width: calc(100vw - min(var(--logo-width), 46vw));
  left: min(var(--logo-width), 46vw);
}
.form-section h2 {
  color: rgb(25, 5, 29);
  padding: 15px 10px 18px;
}
.form-section form {
  padding-top: 10px;
}

.form-section fieldset {
  border-left: none;
  border-right: none;
  border-radius: 1px;
  box-sizing: border-box;
  width: 100%;

  font-size: 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
}

.form-section label {
  font-size: 22px;
}
.form-section input {
  background-color: #f7ecfc;

  border: none;
  border-bottom: 1.8px rgba(18, 8, 54, 0.356) solid;

  margin-top: 5px;
  padding: 7px 0 0 3px;

  font-size: 20px;
  transition: .4s;
}
.form-section input:focus:valid,
.form-section input:hover:valid {
  border-bottom: 2px green solid;
}
.form-section input:focus:invalid,
.form-section input:hover:invalid {
  border-bottom: 2px red solid;
}
.form-section input:hover,
.form-section input:focus {
  transform: scale(1.015, 1.08);
}

.form-section button {
  display: block;
  margin: auto;
  margin-top: 15px;

  font-size: 1.65rem;
  padding: 9px 4px;
  background-color: #290836;
  color: #af85c0;
  border-radius: 6px;
  border: none;

  cursor: pointer;
  transition: .5s;
}

.form-section button:hover {
  color: #290836;
  background-color: #af85c0;
  transform: scale(1.1);
  font-size: 1.7rem;
}

.handle {
  width: 98%;
  display: flex;
  gap: 50px;
  align-self: center;
}
.handle div,
.handle input {
  width: 100%;
}

.login {
  padding-left: 10px;
  font-size: 19px;
}
.login a {
  text-decoration: none;
  color: #af85c0;
}